{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<style>
.container{
  margin: auto;
  width: 55%;
  text-align: center;
  padding: 2em;
  background: #363636;
  flex: 1 1 auto;
  /*grow vertically*/
}
</style>
{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
<h2>Log In</h2>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <button type="submit" class="btn btn-primary btn-lg">Log In</button>
  <style>.btn-primary{border-radius: 25px;}</style>
</form>
</div>
{% endblock %}
