{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}
<html>
<link rel="stylesheet" type="text/css" href="{% static 'questions/static/questions/login.css' %}">
<body>
{% block title %}
Write a question
{% endblock %}

{% block content %}
<h2>Write a question:</h2>

<form method="post" class="uniForm">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit Question</button>
</form>

<!--<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit Question</button>
</form>-->
{% endblock %}
<div>
  <!--{% include questions.messages.html%}-->
</div>

</body>
</html>