{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'questions/static/questions/login.css' %}">

{% block title %}
Write a question
{% endblock %}

{% block content %}
<h2>Write a question:</h2>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Submit Question</button>
</form>
{%if messages%}
        <div class= "alert {{message.tags}} m-2" id ="msg" role="alert">
            {{messages.first}}
            <script>
              setTimeout(function(){
                if($('#msg').length>0){
                  $('#msg').remove;
                }
              },6000)
            </script>
        </div>   
{%endif%}
{% endblock %}
<div>
  <!--{% include questions.messages.html%}-->
</div>

