{% extends 'base.html' %}
{% load static %}
{% load templatetagname %}

{% block title %}
Here's your profile
{% endblock %}

{% block content %}
<div class="content">
    <h1>{{user.username}}'s profile</h1>
    <p>            
        <p><strong>Number of Questions: </strong>{{profile.num_questions}} </p>
        {% if user|has_gamification %}
            <p><strong>Points: </strong>{{profile.points}} </p>
            <div class ="txtimg">
                <strong>First question badge: </strong>
                {% if profile.first_question %} 
                    <img src="{% static 'questions/images/Badge_1.png' %}" alt="first question">
                {% else %}
                    <img src="{% static 'questions/images/Badge_1_black.png' %}" alt="first question black">
                {%endif%}
            </div>
            <div class ="txtimg">
                <strong>Five questions badge: </strong> 
                {% if profile.five_questions %} 
                    <img src="{% static 'questions/images/Badge_2.png' %}" alt="five questions">
                {% else %}
                    <img src="{% static 'questions/images/Badge_2_black.png' %}" alt="five questions black">
                {%endif%}
            </div>
            <div class ="txtimg">
                <strong>Ten questions badge: </strong> 
                {% if profile.ten_questions %} 
                    <img src="{% static 'questions/images/Badge_3.png' %}" alt="ten questions">
                {% else %}
                    <img src="{% static 'questions/images/Badge_3_black.png' %}" alt="ten questions black">
                {%endif%}
            </div>
            <br>
            <div class ="txtimg">
            <strong>Three day streak badge: </strong> 
                {% if profile.three_day_streak %} 
                    <img src="{% static 'questions/images/Badge_4.png' %}" alt="three day streak">
                {% else %}
                    <img src="{% static 'questions/images/Badge_4_black.png' %}" alt="three day streak black">
                {%endif%}
            </div>
            <div class ="txtimg">
            <strong>Five day streak badge: </strong> 
                {% if profile.five_day_streak %} 
                    <img src="{% static 'questions/images/Badge_5.png' %}" alt="five day streak">
                {% else %}
                    <img src="{% static 'questions/images/Badge_5_black.png' %}" alt="five day streak black">
                {%endif%}
            </div>
            <div class ="txtimg">
            <strong>Seven day streak badge: </strong> 
                {% if profile.seven_day_streak %} 
                    <img src="{% static 'questions/images/Badge_6.png' %}" alt="seven day streak">
                {% else %}
                    <img src="{% static 'questions/images/Badge_6_black.png' %}" alt="seven day streak black">
                {%endif%}
            </div>
        {% endif %}          
    </p>
</div> 

<style>
.txtimg{
    display: inline-block;
    text-align: center;
}
.txtimg > img{
    display: block;
}</style>
<style>
    .content {
      max-width: 960px;
      margin: auto;
    }
</style>

{% endblock %}
