{% extends 'base.html' %}
{% load static %}
{% load templatetagname %}

{% block title %}
Here's your profile
{% endblock %}
<style>.container{
    margin: auto;
    text-align: center;
    padding: 2em;
    width: 55%;
    flex: 1 1 auto;
    /*grow vertically*/
}</style>

{% block content %}
<body>
    

<div class = "filler">
<div class ="container">
    <h1>{{user.username}}'s profile</h1>
    <p>Here you can see some basic stats {% if user|has_gamification %} and your hard earned badge collection {% endif %} </p>
    <p>            
        <p><strong>Number of Questions: </strong>{{profile.num_questions}} </p>
        {% if user|has_gamification %}
            <p><strong>Points: </strong>{{profile.points}} </p>
            <div class ="txtimg">
                <strong>First question badge: </strong>
                {% if profile.first_question %} 
                    <img src="{% static 'questions/images/Badge_1.png' %}" alt="first question">
                {% else %}
                    <img src="{% static 'questions/images/Badge_1_black.png' %}" alt="first question black">
                {%endif%}
            </div>
            <div class ="txtimg">
                <strong>Five questions badge: </strong> 
                {% if profile.five_questions %} 
                    <img src="{% static 'questions/images/Badge_2.png' %}" alt="five questions">
                {% else %}
                    <img src="{% static 'questions/images/Badge_2_black.png' %}" alt="five questions black">
                {%endif%}
            </div>
            <div class ="txtimg">
                <strong>Ten questions badge: </strong> 
                {% if profile.ten_questions %} 
                    <img src="{% static 'questions/images/Badge_3.png' %}" alt="ten questions">
                {% else %}
                    <img src="{% static 'questions/images/Badge_3_black.png' %}" alt="ten questions black">
                {%endif%}
            </div>
            <br>
            <div class ="txtimg">
            <strong>Two day streak badge: </strong> 
                {% if profile.three_day_streak %} 
                    <img src="{% static 'questions/images/Badge_4.png' %}" alt="two day streak">
                {% else %}
                    <img src="{% static 'questions/images/Badge_4_black.png' %}" alt="three day streak black">
                {%endif%}
            </div>
            <div class ="txtimg">
            <strong>Three day streak badge: </strong> 
                {% if profile.five_day_streak %} 
                    <img src="{% static 'questions/images/Badge_5.png' %}" alt="three day streak">
                {% else %}
                    <img src="{% static 'questions/images/Badge_5_black.png' %}" alt="three day streak black">
                {%endif%}
            </div>
            <div class ="txtimg">
            <strong>Four day streak badge: </strong> 
                {% if profile.seven_day_streak %} 
                    <img src="{% static 'questions/images/Badge_6.png' %}" alt="four day streak">
                {% else %}
                    <img src="{% static 'questions/images/Badge_6_black.png' %}" alt="four day streak black">
                {%endif%}
            </div>
        {% endif %}          
    </p>
</div> 
</div>
</body>
<style>

.filler{
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
}
    html, body {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 100vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;

}
    
    img {
        max-width: 100%;
        height: auto;
    }
    img.resize {
      max-width:100%;
      max-height:100%;
    }
    .txtimg{
        display: inline-block;
       text-align: center;
    
    }
    .txtimg > img{
        display: block;   
    }
    </style>
{% endblock %}
