{% extends 'base.html' %}


{% block title %}
Leaderboard
{% endblock %}

{%block content%}
<div class ="content">
    <h1>Leaderboard</h1>
    <ol>
        <!-- Iterate over object_list -->
        {% for profile in profile_list %}
        <!-- Display Objects -->
        <li>{{ profile.user.username }} - {{ profile.points }}</li>

        <hr/>
        <!-- If objet_list is empty  -->
        {% empty %}
        <li>No objects yet.</li>
        {% endfor %}
    </ol>
</div>
{% endblock %}

<style>
    .content{
  margin: auto;
  width: 55%;
  text-align: center;
  padding: 2em;
  background: #363636;
  flex: 1 1 auto;
  /*grow vertically*/
  }
</style>