{% extends 'base.html' %}

{% block title %}
Här är din Profil
{% endblock %}

{% block content %}
hej hej hej
<div class="content">
    <h1>Username: {user.username}</h1>
    <p>            
        <p><strong>Points: </strong>{profile.points} </p>
        <p><strong>Number of Questions:</strong>{profile.num_questions} </p>
        <p><strong>First question badge: </strong>{profile.first_questions} </p>
        <p><strong>Five questions badge: </strong>{profile.five_questions} </p>
        <p><strong>Ten questions badge: </strong>{profile.ten_questions} </p>
        <p><strong>Three day streak badge: </strong>{profile.three_day_streak} </p>
        <p><strong>Five day streak badge: </strong>{profile.five_day_streak} </p>
        <p><strong>Seven day streak badge: </strong>{profile.seven_day_streak} </p>          
    </p>
</div> 

{% endblock %}