{% extends 'base.html' %}

<style>
    .leaderboard{
    margin: auto;
    width: 55%;
    text-align: center;
    padding: 2em;
    background: #363636;
    flex: 1 1 auto;
}
.container{
  margin: auto;
  width: 55%;
  text-align: center;
  padding: 2em;
  background: #363636;
  flex: 1 1 auto;
  /*grow vertically*/
  }
  
h1{
    color: green;
    margin: 25px 10px 15px 20px;
}

</style>
{% block title %}
Leaderboard
{% endblock %}

{%block content%}
<div class="filler">
<div class ="container">
    <h1>Leaderboard</h1>
    <p>A ranking of the top 10 users of the system based on their points. Do you have what it takes to be at the top?</p>
    <ol class= "leaderboard">
        <!-- Iterate over object_list -->
        {% for profile in profile_list %}
            <!-- Display Objects -->
            <li>{{ profile.user.username }} - {{ profile.points }}</li>
            <hr/>
            <!-- If objet_list is empty  -->
            {% empty %}
            <li>No objects yet.</li>
        {% endfor %}
    </ol>
</div>
</div>
<style>.filler{
    height: 100%;
    width: 100%;
    height: 100vh;
}</style>
{% endblock %}

