{% extends 'base.html' %}
<style>
.container{
    margin: auto;
    width: 55%;
    text-align: center;
    padding: 2em;
    background: #363636;
    flex: 1 1 auto;
    /*grow vertically*/
    }
</style>
<div class="container">
    <h1>About<h1>

    This system is part of our degree project in the course DA150X at KTH, Royal Institute of Technology. 

    <h2>Purpose<h2>
    The purpose of this study, and subsequently this system, is to investigate the effects of gamification on motivation. More specifically its effect on authoring quiz like questions. 
    
    <h2>Questions or issues<h2>
    If you have any questions about the study or the system, or if you are experiencing any issues,  please contact us at:
    <a href="mailto:mnordste@kth.se"></a>mnordste@kth.se</a> or <a href="mailto:oskaredv@kth.se">oskaredv@kth.se</a>

</div>