{% extends 'base.html' %}
<style>
.container{
    margin: auto;
    width: 55%;
    text-align: center;
    padding: 2em;
    background: #363636;
    flex: 1 1 auto;
    /*grow vertically*/
    }
</style>
{%block content%}
<div class="container">
    <p><h1>About</h1>
    This system is part of our degree project in the course DA150X at KTH, Royal Institute of Technology. </p>
    
    <p><h4>Purpose</h4>
        Writing questions for fellow students has proven beneficial for student learning. The purpose of this 
        study is to investigate how a question-authoring system could be constructed for use in university courses.    </p>

    <p><h4>Timeframe</h4>
        The study will end on <b><u>May 2nd 2021</u></b>. After that we will send out a survey where you will be asked about your experience with the system.    </p>
    
    <p><h4>Questions or issues</h4>
    If you have any questions about the study or the system, or if you are experiencing any issues,  please contact us at:
    <a href="mailto:mnordste@kth.se">mnordste@kth.se</a> or <a href="mailto:oskaredv@kth.se">oskaredv@kth.se</a> </p>

</div>
{%endblock%}