{% extends 'base.html' %}
{% load templatetagname %}
{% block title %}Home{% endblock %}
<style>
  body{
    margin: 20px;
  }

  .page{
    height: 100%;
    overflow: hidden;
    flex: 1 1 auto;
  }
  .container{
  margin: auto;
  width: 55%;
  text-align: center;
  padding: 2em;
  background: #363636;
  flex: 1 1 auto;
  /*grow vertically*/
  }
  .test{
    margin: 100px;
  }
  
  p.ex1 {
  font-size: 30px;
  }
  .infotext{
    color:green;
  }
</style>

{% block content %}
<div class="page">
<div class = "container">
{% if user.is_authenticated %}
  <h2>Hi {{ user.username }}! </h2>
  <br>
  <div class="infotext">
  {% if user|has_gamification %}
  <p>
    Welcome to our degree project study. 
    In this study we need your help to test our question-authoring system over the course of <b><u>one week</u></b>. 
    During this week we need you to write and submit at least 5 questions about <b><u>introductory Computer Science</u></b>. 
    These questions will then be reviewed by professors at KTH and potentially used as practice questions in 
    introductory level courses. We recommend that you try to write one question a day to make the workload easily managed. 
    The study will end on <b><u>May 2nd 2021</u></b>. After that we will send out a survey where you will be asked about your experience with the system.
  </p>

  <h6>Points and Badges</h6>
  <ul>
    <li>As a reward for submitting questions you will earn points</li>
    <li>If you submit questions several days in a row you will get a streak</li>
    <li>While having an active streak you will get more points for submitting a question</li>
    <li>You can also earn badges for submitting certain amounts of questions or for maintaining a streak</li>
  </ul>

  <p>For more information about points, streaks and badges, see the profile page.</p>

  <p>To start writing questions click the button below. </p>
  
  {%else %}
  <p>
    Welcome to our degree project study. 
    In this study we need your help to test our question-authoring system over the course of <b><u>one week</u></b>. 
    During this week we need you to write and submit at least 5 questions about <b><u>introductory Computer Science</u></b>. 
    These questions will then be reviewed by professors at KTH and potentially used as practice questions in 
    introductory level courses. We recommend that you try to write one question a day to make the workload easily managed. 
    The study will end on <b><u>May 2nd 2021</u></b>. After that we will send out a survey where you will be asked about your experience with the system.
  </p>
    <p>
      To start writing questions click the button below.  
    </p>
    {%endif%}
  <p><a href="{% url 'createquestion' %}" class="btn btn-primary btn-lg">Write a question</a></p>
  <style>.btn-primary{border-radius: 25px;}</style>
</div>

{% else %}
  <h2>You are not logged in</h2>
  <div>
    <p>
      Welcome to our degree project study. 
      In this study we need your help to test our question-authoring system over the course of <b><u>one week</u></b>. 
      During this week we need you to write and submit at least 5 questions about <b><u>introductory Computer Science</u></b>. 
      These questions will then be reviewed by professors at KTH and potentially used as practice questions in 
      introductory level courses. We recommend that you try to write one question a day to make the workload easily managed. 
      The study will end on <b><u>May 2nd 2021</u></b>. After that we will send out a survey where you will be asked about your experience with the system.

      <br>For more information see the about page.
      <p><a href="{% url 'login' %}">Log In</a></p>
      <br>If you don't already have an account register below to get started!
    </p>
  </div>
  <p>
    <br>
  <a href="{% url 'signup' %}">Create Account</a>
</p>
{% endif %}
{%include 'questions/messages.html' %}
</div>
</div>
{% endblock %}


