{% extends 'base.html' %}

{% block title %}Home{% endblock %}
<style>
  body{
    margin: 20px;
  }
</style>
{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
  userID: {{user.id}}
  <p><a href="{% url 'createquestion' %}">Write a question</a></p>
  <p><a href="{% url 'profile' %}">Profile</a></p>
  <p><a href="{% url 'leaderboard' %}">Leaderboard</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
  <a href="{% url 'signup' %}">Create Account</a>
{% endif %}
{% endblock %}